{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="icon" href="{%static 'images/icon.png'%}" type="image/gif" />
    <link rel="stylesheet" href="{% static 'css/add.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />

    <title>Add Product</title>
    
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li>
                    <a href="/">
                        <i class="fas fa-home"></i>
                        <div class="title">R&R</div>
                    </a>
                </li>
                <li>
                    <a href="/dashboard">
                        <i class="fas fa-th-large"></i>
                        <div class="title active">Dashboard</div>
                    </a>
                </li>
                <li>
                    <a href="/product">
                        <i class="fas fa-th"></i>
                        <div class="title">Products</div>
                    </a>
                </li>
                <li>
                    <a href="/order">
                        <i class="fas fa-shopping-cart"></i>
                        <div class="title">Orders</div>
                    </a>
                </li>
                <li>
                    <a href="user/">
                      <i class="fas fa-user"></i>
                      <div class="title">User</div>
                    </a>
                  </li>
                <li>
                    <a href="/logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <div class="title">Log-out</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="top-bar">
                <div class="search">
                    <input type="text" name="search" placeholder="Search here...">
                    <label for="search"><i class="fas fa-search"></i></label>
                </div>
                {% if request.user.is_superuser %}
        <div class="user">
          <span>
            Hi,{{user.first_name}}
            </span>
        </div>
        {%endif%}
            </div>
            <div class="forms">
                <div class="add-product">
                    <div class="heading">
                        <h2>New Product</h2>
                        <a href="/product" class="btn">Back</a>
                    </div>
                    <form class="add"  method="POST">
                        {% csrf_token %}
                        <label for="product_name">Product Name:</label>
                        <input type="text"  placeholder="Enter product name..."name="product_name" required><br>

                        <label for="product_description">Description</label>
                        <input type="text" placeholder="Enter product description..." name="product_description"><br>
                        

                        <label for="product_type">Product Type: </label>
                        <select name="product_type"  style="width: 100%;padding: 15px;margin: 5px 0 22px 0;display: inline-block;border: none;color:#17252A;background: #def2f1;" required>
                            <option selected disabled>Select Product Type</option>
                            {% for k in p_prodtype%}
                            <option value="{{k.id}}">{{p.name}}</option>
                            {%endfor%}
                        </select>
                        
                        <label for="category">Category: </label>
                        <select name="category"  style="width: 100%;padding: 15px;margin: 5px 0 22px 0;display: inline-block;border: none;color:#17252A;background: #def2f1;" required>
                            <option selected disabled>Select Category</option>
                            {% for i in p_category%}
                            <option value="{{i.id}}">{{i.category_name}}</option>
                            {%endfor%}
                        </select>

                        <label for="product_price">Price:</label>
                        <input type="number" placeholder="Enter product price..." name="product_price" required><br>

                        <label for="product_quantity">Quantity:</label>
                        <input type="number" placeholder="Enter product quantity..."placeholder="Enter Quantity" name="product_quantity" id="productquantity"
                            required><br>

                        <label for="product_stat">Status:</label>
                        <select name="product_stat" id="status" style="width: 100%;padding: 15px;margin: 5px 0 22px 0;display: inline-block;border: none;color:#17252A;background: #def2f1;" required>
                            <option style="width: 100%;padding: 15px;margin: 5px 0 22px 0;display: inline-block;border: none;color:#17252A;background: #def2f1;"></option>
                            <option value="IN STOCK">IN STOCK</option>
                            <option value="OUT OF STOCK">OUT OF STOCK</option>
                        </select>

                        <label for="product_image">Image:</label>
                        <input type="file" style="width: 100%;padding: 15px;margin: 5px 0 22px 0;display: inline-block;border: none;color:#17252A;background: #def2f1;" placeholder="Enter product image..." name="product_image" required><br>
                        <input type="submit" class="savebtn"value="Save">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>