{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{%static 'images/icon.png'%}" type="image/gif" />
    <link rel="stylesheet" href="{% static 'css/add.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />

    <title>Add Category</title>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li>
                    <a href="/">
                        <i class="fas fa-home"></i>
                        <div class="title">R&R</div>
                    </a>
                </li>
                <li>
                    <a href="/dashboard">
                        <i class="fas fa-th-large"></i>
                        <div class="title active">Dashboard</div>
                    </a>
                </li>
                <li>
                    <a href="/category">
                        <i class="fas fa-list"></i>
                        <div class="title">Categories</div>
                    </a>
                </li>
                <li>
                    <a href="/product">
                        <i class="fas fa-th"></i>
                        <div class="title">Products</div>
                    </a>
                </li>
                <li>
                    <a href="orders/">
                        <i class="fas fa-shopping-cart"></i>
                        <div class="title">Orders</div>
                    </a>
                </li>
                <li>
                    <a href="/adminlogout">
                        <i class="fas fa-sign-out-alt"></i>
                        <div class="title">Log-out</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="top-bar">
                <div class="search">
                    <input type="text" name="search" placeholder="Search here...">
                    <label for="search"><i class="fas fa-search"></i></label>
                </div>
                {% if request.user.is_superuser %}
                <div class="user">
                <span>
                    Hi,{{user.first_name}}
                    </span>
                </div>
                {%endif%}
            </div>
            <div class="forms">
                <div class="add-category">
                    <div class="heading">
                        <h2>Update Category Details</h2>
                        <a href="/category" class="btn">Back</a>
                    </div>
                    <form class="add" action="/update/{{categories.id}}" method="post">
                        {% csrf_token %}
                        <label for="category_name">Category Name:</label>
                        <input type="text" placeholder="Enter Category Name" value="{{categories.category_name}}"name="categories.category_name" id="categoryname"
                            required><br>
                        <input type="submit" class="savebtn"value="Save">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>