*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins','Arial';

}
body{
    overflow-x: hidden;
}
.container{
    position: relative;
    width:100%;

}
.sidebar{
    position: fixed;
    width:200px;
    height: 100%;
    background: #17252A;
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index:2;

}
.sidebar ul li {
    width:100%;
    list-style: none;
}
.sidebar ul li:hover{
    background:#3aafa9 ;

}
.sidebar ul li:first-child{
    line-height: 40px;
    margin-bottom: 20px;
    font-weight: 600;
    border-bottom: 2px solid #feffff;
}
.sidebar ul li:first-child:hover{
    background: none;
}
.sidebar ul li a {
    width:100%;
    text-decoration: none;
    color: #feffff;;
    height:60px ;
    display:flex;
    align-items: center;


}
.sidebar ul li a i {
    min-width: 60px;
    font-size: 20px;
    text-align: center;
}
.sidebar .title{
    padding:0 30px;
    font-size: 15px;
}

.main{
    position:absolute;
    width:calc(100%  - 200px);
    min-height: 100vh;
    left:200px;
    background: #feffff;
}
.top-bar{
    position: fixed;
    height: 60px;
    width: calc(100%  - 200px) ;
    background: #feffff;
    display:grid;
    grid-template-columns: 10fr 0.4fr 1fr;
    grid-gap: 5px;
    align-items: center;
    color: #3aafa9;
    padding:0 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index:1;
}
.top-bar .search{
    position: relative;
    max-width: 400px;
}
.search input{
    width: 100%;
    min-width: 128px;
    height:40px;
    padding:0 40px;
    font-size: 16px;
    outline: none;
    border:none;
    background: #def2f1;

}
.search i{
    position: absolute;
    right: 15px;
    top:10px;
    cursor:pointer;
}
.user {
    position: relative;
    width: 30px;
    height:30px;
}

img{
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left: 0;
    object-fit:cover;
}
.cards{
    margin-top:60px;
    width:100%;
    padding:35px 20px;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:20px;
}
.cards .card{
    background:#2b7a78 ;
    padding:20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
.number{
    font-size: 20px;
    font-weight: 500 ;
    color: #feffff;

}
.card-name{
    color: #17252A;
    font-weight:600 ;
}
.icon-box i{
    font-size:25px;
    color:#17252A;

}
@media (max-width:860px){
    .sidebar{
        width:60px;
    }
    .main{
        width:calc(100% - 60px);
        left: 60px;
    }
    .top-bar{
        width:calc(100% - 60px);
    }
    .cards{
        grid-template-columns: 2fr 1fr;
    }
}
@media (max-width:530px){
    .cards{
        grid-template-columns: 1fr;
    }
}
